* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    background: #1c1c1c;
    color: #ffffff;
}
.grid {width: 600px; height: 300px; margin:100px auto;}
.grid p{
    padding: 80px 0; font-size: 43px; font-weight: 200;
    background: #333; text-align: center;
    border-radius: 10px;
}
.grid div{background:#444; height: 100px; padding-top: 20px; border-radius: 10px;}
h3{color:#0066ff}