@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');
.gasoek-one-regular {
  font-family: "Gasoek One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*{margin: 0;padding: 0;box-sizing: border-box;}
html{scroll-behavior: smooth;}
body{font-family: "G마켓 산스 TTF";color: #222; font-size: 32px;}
li{list-style: none;}
img{vertical-align: middle;}
a{text-decoration: none;color: #222;}

.inner {width: 1440px;margin: 0 auto;}

header{position: absolute;height: 100px;width:100% ;background-color: rgba(0, 0, 0, 0.4);position: fixed;border-bottom: 1px solid rgba(255, 255, 255, 0.3);z-index: 10;}
.gnb{display: flex;gap: 40px;}
.gnb>li{height: 100px; font-size: 22px ;font-weight: 700;line-height: 100px; display: flex;align-items: center;text-align: center;line-height: normal;position: relative;}
.gnb a{font-size: 18px;color: #fff;}

.sub{display: none;}

.search {color: #fff;display: flex;align-items: center;}
.icon_search {font-size: 30px; cursor: pointer;}
.logo{display: flex; align-items: center;}
.logo img{height: 35px;display: block;}
nav {display: flex; justify-content: space-between; align-items: center; max-width: 1440px;     margin: 0 auto;height: 100%; padding: 0 20px; width: 100%;}

footer{background-color: #222; color:#fff;padding: 60px 0;font-size: 14px;}

/* nav {position:relative}
.logo{position: absolute;left: 80px;top:20px}
.logo img{height: 60px;}
.search{position: absolute;right: 80px;top: 40px;color: #fff;}
.gnb li{width: 140px;height: 100px; text-align: center;display: flex;align-items: center;} */